$bg-color : #303035;
$sidebar-color : $bg-color + #111;
$sidebar-width: 25%;

$area-margin: 1%;
$thumbnail-margin: 3%;

$replay-thumbnail-bg: $bg-color - #111;

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#background {
  background-color: $bg-color;
  color: #FFF - $bg-color;
  min-height: 100%;
  width: 100%;
}

#sidebar {
  position: fixed;
  background-color: $sidebar-color;
  height: 100%;
  width: $sidebar-width;
  display: inline-block;
}

#area {
  position: relative;
  left: $sidebar-width;
  width: 99% - $area-margin * 1.5 - 5% - $sidebar-width;
  margin: $area-margin;
  margin-left: 5%;
  display: inline-block;

  p {
    margin: 0;
    padding: 0;
  }
}

.replay-thumbnail {
  background-color: $replay-thumbnail-bg;
  text-align: center;
  margin-bottom: $area-margin;
  border-radius: 5%;
  transition: background-color 0.2s;
  display: inline-block;

  img.thumbnail {
    padding-top: 5%;
    width: 80%;
    height: auto;
    border-radius: inherit;
  }

  @media (min-width: 960px) {
    width: 25% - $thumbnail-margin;
    margin: $thumbnail-margin / 4 - 0.5%;
  }

  @media (min-width: 500px) and (max-width: 960px) {
    width: (100%/3) - $thumbnail-margin;
    margin: $thumbnail-margin / 3 - 0.5%;
  }

  @media (min-width: 300px) and (max-width: 500px) {
    width: 50% - $thumbnail-margin;
    margin: $thumbnail-margin / 2 - 0.5%;
  }

  @media (max-width: 300px) {
    width: 100%;
    margin: 0%;
  }
}

.replay-thumbnail:hover {
  background-color: $replay-thumbnail-bg - #080808;
}
