$bg-color : #303035;
$sidebar-color : $bg-color + #111;
$sidebar-width: 25%;

$replay-thumbnail-bg: $bg-color - #111;

$area-padding: 2%;

$form-color: $sidebar-color + #111;

$text-color: #cccccc;

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#background {
  background-color: $bg-color;
  color: $text-color;
  min-height: 100%;
  width: 100%;
}

#sidebar {
  position: fixed;
  background-color: $sidebar-color;
  height: 100%;
  width: $sidebar-width;
  display: inline-block;
}

#area {
  position: relative;
  left: $sidebar-width;
  width: 100% - $sidebar-width - $area-padding * 2;
  display: inline-block;
  padding: $area-padding;
  overflow: auto;

  p {
    margin: 0;
    padding: 0;
  }
}

form.form {
  padding: 5%;
}

input:not([type=file]) {
  background-color: $form-color;
  color: $text-color;
  border-color: $form-color + #111;

  :hover {
      color: $text-color - #333;
  }

  :focus {
    color: $text-color - #444;
  }
}

select {
  @extend input
}

th, td {
  border-color: $sidebar-color !important;
  color: $text-color;
  font-weight: 100;
}

thead tr th {
  font-weight: bolder !important;
}
